<div class="wrapper">
  <div class="side-bar">
    <%= render "layouts/side-bar" %>
  </div>
  <div class="main">
    <div class="main-wrap">
      <%= render "layouts/header" %>
      <div class="cards">
        <%= render partial: "layouts/user", locals: { user: @user } %>
        <%# booksの表示 %>
        <div class="card-wrap">
          <div class="card">
            <div class="book-wrap">
              <%= render partial: "layouts/book", collection: @books %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>