.words {
  text-align: center;
}

.word-book-wrap {
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin: 10px 0 0 20px;
}

.breadcrumbs-word {
  text-decoration: none;
  font-size: 16px;
}

.word-book-info {
  margin: 40px 20px 0;
  display: flex;
  align-items: center;
  position: relative;
}

.word-book-info:after {
  position: absolute;
  content: '';
  bottom: -5px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px #4b4b9c;
}

.word-book-title {
  margin: 0 50px;
  font-size: 26px;
}

.word-book-genre {
  margin-right: 40px;
  font-size: 15px;
}

.word-book-user {
  margin-right: 20px;
  font-size: 12px;
}

.word {
  margin: 20px 0px 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.word-content {
  text-align: center;
  color: black;
  width: 400px;
  height: 300px;
  margin: 20px;
  position: relative;
  background-color: rgb(231, 229, 229);
}

.word-content:before {
  height: 0;
  display: block;
  position: absolute;
  right: 0;
  content: "";
  border-top: solid 30px white;
  border-left: solid 30px transparent;
}

.word-content:after {
  height: 0;
  display: block;
  position: absolute;
  right: 0;
  content: "";
  border-bottom: solid 30px #4040a3;
  border-right: solid 30px transparent;
  top: 0;
}

.word-cover {
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: space-around;
}

.to-edit-word {
  width: 35px;
  height: 35px;
  margin-left: 20px;
}

.to-delete-word {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}

.word-name {
  font-size: 28px;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  word-break: break-all;
}

.word-info {
  width: 380px;
  font-size: 18px;
  position: absolute;
  top: 55%;
  left: 50%;
  margin: 20px -50% 0 0;
  transform: translate(-50%, -50%);
  word-break: break-all;
}