<div class="top-page">
  <div class='sub-sidebar'>
    <%= link_to image_tag("/IMG_1476.png", class: "library-log"), root_path %>
  </div>

  <div class='contents row'>
    <div class='form-wrap'>
      <%= link_to 'ログイン', new_user_session_path, class: 'new-user-wrap' %>
      <%= link_to 'アカウント作成', new_user_registration_path, class: 'new-user-wrap' %>
    </div>
  </div>
</div>