<div class="wrapper">
  <div class="side-bar">
    <%= render "layouts/side-bar" %>
  </div>
  <div class="main">
    <div class="main-wrap">
      <%= render "layouts/header" %>
      <div class="new-book">
        <div class="new-book-text">
          ブックを作成する
        </div>
        <%= render partial: "layouts/form_book", locals: { book: @book } %>
      </div>
    </div>
  </div>
</div>