.message-box {
  width: 90%;
  height: 40%;
  margin: 0 10%;
}

.error-alert {
  display: flex;
  justify-content: center;
}

.error-message {
  margin: 0.1vh 5% 0.1vh 8%;
  color: red;
  font-size: 1.2vmax;
}