<div class="wrapper">
  <div class="side-bar">
    <%= render "layouts/side-bar" %>
  </div>
  <div class="main">
    <div class="main-wrap">
      <%= render "layouts/header" %>
      <div class="new-word">
        <div class="new-word-text">
          ワードを追加する
        </div>
        <%= render partial: "layouts/form_word", locals: {  book: @book, word: @word } %>
      </div>
    </div>
  </div>
</div>