.books {
  text-align: center;
}

.to-newbook {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 70px 0 0;
}

.breadcrumbs {
  margin: 0 0 0 30px;
  font-size: 22px;
  text-decoration: none;
}

.to-newbook-text {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 700;
  margin-right: 20px;
  border: 4px double black;
  border-radius: 10px;
  padding: 5px;
}

.delete-notice {
  color: rgb(240, 52, 52);
}

.book-wrap {
  margin: 20px 40px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.book {
  height: 550px;
  width: 400px;
  margin: 0 30px 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color:rgb(238, 238, 238);
}

.book-content {
  color: black;
  width: 400px;
  height: 350px;
  margin: 40px 10px 0;
  position: relative;
  background-color: #fff;
}

.book-title {
  font-size: 34px;
  word-break: break-all;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
}

.book-genre {
  font-size: 24px;
  margin-top: 20px;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
}

.book-subcontent {
  height: 60px;
  width: 360px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.book-cover {
  width: 360px;
  display: flex;
  justify-content: space-around;
}

.to-newword {
  width: 35px;
  height: 35px;
}

.to-new-word {
  width: 35px;
  height: 35px;
}

.book-chat-log {
  width: 35px;
  height: 35px;
}

.book-bookmark-log {
  width: 35px;
  height: 35px;
}

/*searchビュー*/
.search-wrap {
  display: flex;
  justify-content: space-between;
}

.search-form {
  min-width: 600px;
  height: 60px;
  margin: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  height: 35px;
  width: 260px;
  padding-left: 10px;
  margin-right: 10px;
}

.search-btn {
  height: 35px;
  width: 50px;
  margin-left: 20px;
  background-color: #96b2ee;
}