.to-newbook {
  text-align: right;
  margin: 20px 10vw 0 0;
}

.to-newbook-text {
  text-decoration: none;
  font-size: 24px;
  color: #4040a3;
  border: 2px solid #4040a3;
  border-radius: 10px;
  padding: 5px;
}

.book {
  height: 95%;
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.book-content {
  text-align: center;
  color: black;
  width: 45%;
  min-width: 350px;
  max-width: 450px;
  height: 80%;
  min-height: 270px;
  margin: 10px;
  position: relative;
  background-color: rgb(231, 229, 229);
}

.book-content:before {
  height: 0;
  display: block;
  position: absolute;
  right: 0;
  content: "";
  border-top: solid 30px white;
  border-left: solid 30px transparent;
}
.book-content:after {
  height: 0;
  display: block;
  position: absolute;
  right: 0;
  content: "";
  border-bottom: solid 30px #4040a3;
  border-right: solid 30px transparent;
  top: 0;
}

.book-name {
  font-size: 36px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.book-genre {
  font-size: 24px;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}