/* bookの編集ビューやwordのビューにも使用 */

.new-book {
  height: 550px;
  width: 95%;
  margin: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.new-book-text {
  font-size: 28px;
}

.new-book-content {
  text-align: center;
  width: 400px;
  height: 360px;
  position: relative;
  background-color: rgb(231, 229, 229);
}

.new-book-content:before {
  height: 0;
  display: block;
  position: absolute;
  right: 0;
  content: "";
  border-top: solid 30px white;
  border-left: solid 30px transparent;
}
.new-book-content:after {
  height: 0;
  display: block;
  position: absolute;
  right: 0;
  content: "";
  border-bottom: solid 30px #4040a3;
  border-right: solid 30px transparent;
  top: 0;
}

.new-book-content-text{
  font-size: 22px;
  padding-top: 22px;
}

.new-book-title {
  font-size: 20px;
  width: 280px;
  height: 120px;
}

.new-word-name {
  width: 280px;
  height: 70px;
}

.new-word-info {
  width: 280px;
  height: 120px;
}

.select-box {
  height: 4vh;
}

.create-book-btn-wrap {
  text-align: center;
}

.create-book-btn {
  width: 120px;
  height: 50px;
  color: snow;
  background-color: #20208a;
  border-radius: 5px;
  border: 3px double snow;
  margin: 15px auto;
  font-size: 16px;
}