/* bookの編集ビューにも使用 */

.new-book {
  height: 550px;
  width: 95%;
  margin: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.new-book-text {
  font-size: 28px;
}

.new-book-content {
  width: 400px;
  height: 370px;
  position: relative;
}

.book-content-log {
  width: 400px;
  height: 370px;
}

.book-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

.new-book-content-text{
  font-size: 22px;
  padding-top: 22px;
}

.new-book-title {
  font-size: 20px;
  width: 280px;
  height: 120px;
}

.create-book-btn-wrap {
  text-align: center;
}

.create-book-btn {
  width: 120px;
  height: 50px;
  color: snow;
  background-color: #20208a;
  border-radius: 5px;
  border: 3px double snow;
  margin: 15px auto;
  font-size: 16px;
}