.top-page-extra {
  width: 80vw;
  height: 95vh;
  margin: 50px auto;
  border: 3px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrap-extra {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px auto 0;
  font-family: serif;
}

.form-header-text {
  font-size: 25px;
}

.login-flash-message {
  color: red;
}

.form-group {
  margin-top: 15px;
}

.input-default {
  width: 280px;
  padding: 5px 10px;
  border-radius: 5px;
}

.login-btn-wrap {
  text-align: center;
}

.login-btn {
  width: 130px;
  height: 50px;
  color: snow;
  background-color: #0404a3;
  border-radius: 5px;
  border: 3px double snow;
  margin: 30px auto;
}

.back-btn {
  text-decoration: none;
  background-color: lightgrey;
  color: black;
  border: 1px solid black;
  padding: 5px 10px;
}