<div class="header-wrap">
  <div class="left-header">
    <%= image_tag("/IMG_1476.png", class: "header-log") %>
  </div>
  <div class="right-header">
    <div class="to-mypage"><%= current_user.nickname %></div>
  </div>
</div>