<div class="header-wrap">
  <div class="left-header">
    <%= image_tag("/IMG_1476.png", class: "header-log") %>
  </div>
  <div class="right-header">
    <%= link_to "#{current_user.nickname}", user_path(current_user.id), class: "to-mypage" %>
  </div>
</div>