<div class="side-wrap">
  <div class="headline">
    <div class="headline-name">
      <%= link_to 'ホーム', books_path, class: "headline-name" %>
    </div>
  </div>
  <div class="headline">
    <div>
      <%= link_to '検索', '#', class: "headline-name" %>
    </div>
  </div>
  <div class="headline">
    <div class="headline-name">
      <%= link_to 'テスト', '#', class: "headline-name" %>
    </div>
  </div>
  <div class="headline">
    <div class="headline-name">
      <%= link_to 'マイページ', user_path(current_user.id), class: "headline-name" %>
    </div>
  </div>
</div>